.fadetext
{

    text-align: center;
    animation:fadein 5s;
    font-size: xx-large;
    font-weight: bold;
    color: red;
}
@keyframes fadein
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.bg
{
    background-image:url("./assests/rvuprojectimg.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}
.blank
{
    width:50px;
}
.radial
{
    background-image: radial-gradient( white,rgb(186, 186, 46));
}

table
{
    width: 100%;
}

#table
{
    width:100%;
    display: table;
    
}

#tablecaption{
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#tableheader
{
    display: table-header-group;   
    font-weight: bold;
    font-size: 25px;
}
.table-header-cell
{
    display: table-cell;
    padding: 10px;
    text-align:center;
    border-style:double;
    
    
    background-color: rgb(230, 201, 129);
    font-weight: bold;
}
.table-header-cell-2
{
    display: table-cell;
    padding: 10px;
    text-align:center;
    color:aliceblue;
    font-size: 40px;
    text-decoration:underline;
    background-color:rgb(253, 210, 101);
    font-family:'Times New Roman', Times, serif;
    /* text-shadow: 1px 1px black; */
    animation-name: colorchange;   
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes colorchange
{
    0%{background-color:rgb(253, 210, 101) ;}
    100%{background-color:rgb(38, 249, 161) ;}    
}
.underline
{
    text-decoration:underline;
}

.rvu
{
    animation: animate 25s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: translate3d(0,0,0);
    }
    100%
    {
        transform: translate3d(+30px,-10px,+10px);
    }
}

.href:hover
{
    color:red;
    font-size:150%;
}
.socialmedia
{
    height: 150px;
    text-align: center;
    text-decoration:underline;
    color:black;
    background-color: rgb(144, 234, 249);
    border-style:double;
    padding-top: 20px;
    padding-bottom: 20px;

}
.logo
{
    height:5px;
    display: table-cell;
}
.courses
{
    padding-top: 10px;
    padding-bottom: 10px;
}
